.treeparentbody{
    margin:10vh 4% 10vh 4%;
    background: linear-gradient(157deg,#000, #072026,#000);
    width:92%;
    height:fit-content;
    border-radius: 3vmax;
    /* border: 0.4em solid;
    border-image: linear-gradient(to right, rgb(230, 92, 0), rgb(249, 212, 35));
    border-image-slice:1; */
    box-shadow:0px 1px 7px 3px #0dcaf0;
    padding:1em;


}